@charset "UTF-8"; 

.similar-container-wrp .main-inner, .sponsor-modal-header {
	border-bottom: 1px solid #e5e9ef
}

.share-weixin:after, .sponsor-modal-header:after,
	.sponsor-qrcode-wrapper:after {
	content: ""
}

.share-btn {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 20px;
	background: url(../img/icons.png) no-repeat;
	cursor: pointer;
	position: relative
}

.share-btn:last-child {
	margin-right: 0
}

.share-btn.btn_weibo {
	background-position: -1100px -459px
}

.share-btn.btn_weibo:hover {
	background-position: -1036px -459px
}

.share-btn.btn_weixin {
	background-position: -1099px -652px
}

.share-btn.btn_weixin:hover {
	background-position: -1035px -652px
}

.share-btn.btn_qqzone {
	background-position: -1099px -587px
}

.share-btn.btn_qqzone:hover {
	background-position: -1035px -587px
}

.share-btn.btn_baidu {
	background-position: -1100px -524px
}

.share-btn.btn_baidu:hover {
	background-position: -1036px -524px
}

.share-weixin {
	background: #fff;
	position: absolute;
	top: 45px;
	left: -55px;
	z-index: 1000;
	padding: 10px 15px;
	border-radius: 4px;
	border: 1px solid #e5e9ef;
	cursor: default;
	visibility: hidden;
	opacity: 0;
	transition: .2s;
	margin-top: 12px
}

.share-btn.btn_weixin:hover .share-weixin {
	visibility: visible;
	opacity: 1
}

.v1-bangumi-info-btn .share-weixin {
	top: 35px;
	left: -35px
}

.v1-bangumi-info-sharebox .share-weixin {
	top: 35px;
	left: -61px
}

.share-weixin .qr-code {
	width: 124px;
	height: 124px
}

.share-weixin:after {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -12px;
	top: -12px;
	height: 12px;
	width: 24px;
	background: url(../img/icons.png) -854px -1492px no-repeat
}

.share-weixin .qr-code canvas {
	width: 124px !important;
	height: 124px !important
}

.share-weixin p {
	height: 20px;
	line-height: 20px;
	margin-bottom: 5px;
	text-align: center
}

.similar-container-wrp {
	display: none
}

.similar-container-wrp .b-head {
	padding: 20px 0
}

.similar-container-wrp .similar-container {
	padding: 0 0 7px;
	margin: 0 10px
}

.widescreen .similar-container-wrp .similar-container {
	margin: 0
}

.similar-container-wrp .similar-container:hover .similar-list-wrp .flex-direction-nav
	{
	display: block
}

.similar-container-wrp .similar-container .similar-list-wrp {
	overflow: hidden;
	position: relative;
	margin-left: 0
}

.similar-container-wrp .similar-container .similar-list-wrp .similar-list
	{
	margin-left: 0
}

.similar-container-wrp .similar-container .similar-list-wrp .similar-list .similar-list-child
	{
	float: left;
	width: 135px;
	margin-left: 0
}

.similar-container-wrp .similar-container .similar-list-wrp .similar-list .similar-list-child:last-child
	{
	width: 135px !important
}

.similar-container-wrp .similar-container .similar-list-wrp .similar-list .similar-list-child a
	{
	display: block;
	width: 135px
}

.similar-container-wrp .similar-container .similar-list-wrp .similar-list .similar-list-child a .similar-img img
	{
	width: 100%;
	height: 180px;
	border-radius: 4px
}

.similar-container-wrp .similar-container .similar-list-wrp .similar-list .similar-list-child a .similar-name
	{
	color: #222;
	padding-top: 7px;
	font-size: 14px;
	line-height: 24px;
	max-width: 135px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 48px
}

.similar-container-wrp .similar-container .similar-list-wrp .similar-list .similar-list-child a .similar-name .similar-name-l
	{
	height: 48px;
	transition: all .3s linear;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis
}

.similar-container-wrp .similar-container .similar-list-wrp .similar-list .similar-list-child:hover a .similar-name
	{
	white-space: normal;
	color: #00a1d6
}

.similar-container-wrp .similar-container .similar-list-wrp .flex-direction-nav
	{
	display: none;
	transition: all .3s linear;
	position: absolute;
	top: 72px;
	width: 100%
}

.similar-container-wrp .similar-container .similar-list-wrp .flex-direction-nav li
	{
	margin: 0;
	position: absolute
}

.similar-container-wrp .similar-container .similar-list-wrp .flex-direction-nav li.flex-nav-next
	{
	right: 0
}

.similar-container-wrp .similar-container .similar-list-wrp .flex-direction-nav li a
	{
	background: url(../img/icons2.png) no-repeat;
	position: absolute;
	display: block;
	width: 35px;
	height: 58px;
	background-color: rgba(0, 0, 0, .6);
	transition: all .3s linear
}

.similar-container-wrp .similar-container .similar-list-wrp .flex-direction-nav li a.flex-prev
	{
	left: 0;
	border-radius: 0 4px 4px 0;
	background-position: 15px -1211px
}

.similar-container-wrp .similar-container .similar-list-wrp .flex-direction-nav li a.flex-next
	{
	right: 0;
	border-radius: 4px 0 0 4px;
	background-position: 15px -1262px
}

.bangumi-real-name-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	z-index: 10040
}

.bangumi-real-name-mask .bangumi-real-name-dialog {
	position: relative;
	top: 50%;
	width: 300px;
	margin: 0 auto;
	height: auto;
	transform: translateY(-50%);
	border-radius: 8px;
	text-align: center;
	box-sizing: border-box;
	background-color: #fff
}

.bangumi-real-name-mask .bangumi-real-name-dialog .real-name-close {
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
	z-index: 10;
	box-sizing: border-box;
	padding: 19px;
	background: url(//s3.hdslb.com/bfs/static/anime/img/icons.png) -455px
		-518px no-repeat
}

.bangumi-real-name-mask .bangumi-real-name-dialog .real-name-title {
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	padding: 0 20px;
	color: #222;
	border-bottom: 1px solid #e5e9ef
}

.bangumi-real-name-mask .bangumi-real-name-dialog .real-name-body {
	padding: 27px 20px
}

.bangumi-real-name-mask .bangumi-real-name-dialog .real-name-body .info
	{
	font-size: 14px;
	line-height: 20px;
	color: #222
}

.bangumi-real-name-mask .bangumi-real-name-dialog .real-name-body .info i
	{
	color: #f25d8e
}

.bangumi-real-name-mask .bangumi-real-name-dialog .real-name-footer {
	padding-bottom: 10px
}

.bangumi-real-name-mask .bangumi-real-name-dialog .real-name-footer .btn-bind
	{
	display: block;
	margin: 0 auto 20px;
	width: 120px;
	height: 40px;
	line-height: 40px;
	border-radius: 8px;
	background-color: #00a1d6;
	font-size: 14px;
	color: #fff
}

.bangumi-real-name-mask .bangumi-real-name-dialog .real-name-footer .tip
	{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 1;
	color: #99a2aa
}

.sponsor-modal-mask {
	position: fixed;
	z-index: 10030;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	transition: opacity .3s ease;
	display: none;
	color: #222
}

.sponsor-modal-wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center
}

.sponsor-modal-container {
	width: 570px;
	height: 458px;
	margin: 0 auto;
	padding: 0 15px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	position: relative
}

.sponsor-modal-header {
	position: relative;
	margin-top: 0;
	height: 80px;
	line-height: 80px;
	font-size: 18px
}

.sponsor-modal-header:after {
	position: absolute;
	bottom: -9px;
	display: block;
	height: 45px;
	width: 100%;
	background: url(../img/cutline.png) center center no-repeat
}

.sponsor-modal-close {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	background: url(../img/icons.png) -470px -535px no-repeat;
	cursor: pointer;
	z-index: 9999
}

.sponsor-modal-close:hover {
	background-position: -470px -1175px
}

.sponsor-modal-body {
	padding: 20px 0;
	font-size: 14px
}

.sponsor-choice {
	height: 100px;
	margin-left: 65px
}

.sponsor-custom {
	margin-top: 25px;
	margin-left: 65px;
	text-align: left
}

.sponsor-custom input {
	border: 2px solid #ccd4e5;
	height: 20px;
	width: 50px;
	border-radius: 4px;
	line-height: 20px;
	padding: 0 5px;
	margin-right: 8px;
	outline: 0
}

.sponsor-custom input:focus {
	border: 2px solid #f5b23d;
	color: #f5b23d
}

.sponsor-custom #custom-hint {
	color: #f5b23d;
	display: none;
	padding-left: 14px
}

.sponsor-btn, .sponsor-gift-hint i {
	display: inline-block;
	vertical-align: middle
}

.sponsor-gift-hint {
	margin-bottom: 10px;
	color: #e0930b;
	text-align: left;
	font-size: 12px;
	margin-left: 65px;
	height: 20px
}

.sponsor-gift-hint i {
	width: 20px;
	height: 20px;
	background: url(../img/icons.png) -854px -1814px no-repeat;
	margin-right: 5px
}

.sponsor-hint {
	line-height: 1;
	margin-top: 20px
}

.sponsor-hint em {
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
	padding: 0 5px;
	color: #f7b32c
}

.sponsor-hint span.point {
	color: #f25d8e
}

.sponsor-point {
	margin: 18px 0;
	font-size: 12px;
	color: #6D757A
}

.sponsor-point em {
	font-size: 14px;
	color: #f7b32c
}

.sponsor-btn {
	width: 140px;
	height: 40px;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
	background-color: #fff;
	color: #99a2aa;
	border: 1px solid #e5e9ef;
	padding: 0
}

.sponsor-btn:hover {
	color: #222;
	border-color: #222
}

.sponsor-btn-primary {
	border-color: #f5b23d;
	background-color: #f5b23d;
	color: #fff
}

.sponsor-btn-primary:hover {
	color: #fff;
	border-color: #ffcb2e;
	background-color: #ffcb2e
}

.sponsor-choice-item {
	width: 100px;
	float: left;
	margin-right: 15px;
	cursor: pointer
}

.sponsor-choice-item:last-child {
	margin-right: 0
}

.sponsor-choice-item label {
	font-size: 12px;
	color: #99a2aa
}

.sponsor-icon {
	border: 2px solid #ccd4e5;
	background-color: #e6ebf3;
	height: 96px;
	border-radius: 4px
}

.sponsor-icon i {
	display: block;
	width: 96px;
	height: 75px
}

.sponsor-icon i.bp5 {
	background: url(../img/bp5.png) 25px center no-repeat
}

.sponsor-icon i.bp10 {
	background: url(../img/bp10.png) 17px center no-repeat
}

.sponsor-icon i.bp50 {
	background: url(../img/bp50.png) 9px center no-repeat
}

.sponsor-icon i.bp450 {
	background: url(../img/bp450.png) 5px center no-repeat
}

.sponsor-choice-item.active label {
	color: #e0930b
}

.sponsor-choice-item.active .sponsor-icon {
	border-color: #e0930b;
	color: #e0930b;
	background-color: #fff
}

.sponsor-agree {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	color: #99a2aa
}

.sponsor-agree input, .sponsor-agree label {
	cursor: pointer
}

.sponsor-controls .sponsor-control-group {
	margin: 0 auto;
	line-height: 28px
}

.sponsor-controls .sponsor-control-group:after {
	content: "";
	display: block;
	height: 0;
	font-size: 0;
	visibility: hidden;
	clear: both
}

.sponsor-controls .sponsor-control-group label {
	display: block;
	float: left;
	text-align: right;
	width: 70px;
	font-size: 12px;
	color: #99a2aa
}

.sponsor-controls .sponsor-control-group .sponsor-control {
	float: left;
	text-align: left
}

.sponsor-controls .sponsor-control-group .sponsor-control span {
	color: #f25d8e
}

.sponsor-controls .sponsor-control-group .sponsor-control .hint {
	color: #99a2aa;
	font-size: 12px
}

.sponsor-qrcode-header {
	text-align: left;
	line-height: 1;
	margin: 10px 0 15px
}

.sponsor-qrcode-wrapper {
	margin-left: 185px;
	height: 271px;
	position: relative
}

.sponsor-qrcode-wrapper:after {
	display: block;
	height: 0;
	font-size: 0;
	visibility: hidden;
	clear: both
}

#step_back, #step_other {
	font-size: 12px;
	position: absolute;
	display: block
}

.sponsor-qrcode-content {
	border: 2px solid #ccd4e5;
	border-radius: 4px 0 4px 4px;
	width: 190px;
	height: 190px;
	background-color: #fff;
	overflow: hidden
}

.sponsor-qrcode-tab-wrapper {
	position: absolute;
	top: 29px;
	left: 192px
}

.sponsor-qrcode-tab {
	border: 2px solid #ccd4e5;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	height: 60px;
	width: 50px;
	background-color: #e6ebf3;
	margin-bottom: 10px;
	cursor: pointer;
	color: #7e93a2;
	text-align: center
}

.sponsor-qrcode-tab i {
	margin: 5px auto;
	display: block;
	width: 26px;
	height: 26px;
	background: url(../img/icons.png) no-repeat
}

.sponsor-qrcode-tab i.alipay {
	background-position: -658px -1746px
}

.sponsor-qrcode-tab i.wechat {
	background-position: -658px -1810px
}

.sponsor-qrcode-tab-mask {
	position: absolute;
	width: 2px;
	height: 2px;
	background-color: #ccd4e5;
	top: 0;
	left: 0
}

.sponsor-qrcode-tab.active {
	background-color: #fff;
	border: 2px solid #cdd5e4;
	border-left-color: #fff;
	color: #00a1d6
}

#step_other {
	top: 375px;
	left: 400px
}

#step_back {
	left: 25px;
	bottom: 25px
}

.sponsor-bp {
	height: 287px
}

.sponsor-fail, .sponsor-loading, .sponsor-other, .sponsor-success {
	height: 418px
}

.sponsor-share {
	height: 388px
}

.sponsor-other-header {
	padding-top: 30px;
	line-height: 1;
	font-size: 18px;
	padding-bottom: 20px
}

.sponsor-msg-header {
	padding-top: 30px;
	line-height: 1;
	font-size: 24px;
	padding-bottom: 10px
}

.sponsor-success textarea {
	padding: 5px;
	font-size: 14px;
	width: 468px;
	height: 52px;
	border: 1px solid #ccd0d7;
	background-color: #f4f5f7;
	line-height: 1.5;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .16) inset;
	margin-bottom: 23px;
	overflow: hidden
}

.sponsor-textarea {
	position: relative
}

.sponsor-textarea i.arrow-down {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -12px;
	top: 63px;
	height: 12px;
	width: 24px;
	background: url(../img/icons.png) -854px -1632px no-repeat
}

.sponsor-textarea span {
	position: absolute;
	bottom: 30px;
	right: 50px;
	font-size: 12px;
	color: #99a2aa
}

.sponsor-textarea.err textarea {
	border-color: #f25d8e
}

.sponsor-textarea.err i.arrow-down {
	background-position: -854px -1696px
}

.sponsor-textarea.err span {
	color: #f25d8e
}

.sponsor-icons-success {
	height: 139px;
	margin-top: 20px;
	margin-bottom: 15px;
	background: url(../img/success.png) center center no-repeat
}

.sponsor-icons-fail {
	height: 199px;
	margin-top: 20px;
	margin-bottom: 70px;
	background: url(../img/fail.png) center center no-repeat
}

.sponsor-icons-other {
	height: 206px;
	margin-top: 20px;
	margin-bottom: 56px;
	background: url(../img/other.png) center center no-repeat
}

.sponsor-icons-loading {
	height: 223px;
	background: url(../img/loading.png) center center no-repeat
}

.sponsor-icons-share {
	margin-top: 30px;
	margin-bottom: 35px;
	height: 138px;
	background: url(../img/share.png) center center no-repeat
}

.alipay-qrcode {
	position: relative;
	margin-top: -63px;
	width: 100%;
	height: 100%;
	margin-left: -56px
}

.wechat-qrcode {
	padding: 10px
}

#iframeQrcode {
	border: 0;
	-webkit-transform: scale(.75);
	-moz-transform: scale(.75);
	-ms-transform: scale(.75);
	-o-transform: scale(.75);
	transform: scale(.75);
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=.76, M12=0, M21=0,
		M22=.76, Dx=0, Dy=0)
}

.sponsor-gift {
	margin-bottom: 35px;
	line-height: 1;
	position: relative
}

.sponsor-gift .lock {
	background-color: rgba(0, 0, 0, .3);
	width: 105px;
	height: 60px;
	text-align: center;
	padding-top: 45px;
	border-radius: 4px;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -53px
}

.sponsor-gift .lock i {
	margin: 0 auto;
	display: block;
	width: 18px;
	height: 18px;
	background: url(../img/icons.png) -470px -1490px no-repeat
}

.sponsor-gift img {
	display: inline-block;
	height: 90px;
	margin-top: 20px;
	margin-bottom: 10px
}

.sponsor-content-wrapper {
	display: none;
	padding: 20px 0;
	border-bottom: 1px solid #e5e9ef
}

.sponsor-content-left {
	width: 700px;
	float: left
}

.sponsor-content-right {
	margin-left: 720px;
	width: 270px
}

.sponsor-content-header {
	height: 24px
}

.sponsor-content-body .sponsor-list {
	max-height: 194px;
	overflow: hidden
}

.sponsor-content-header h3 {
	float: left;
	font-size: 18px;
	line-height: 24px;
	color: #222
}

.sponsor-content-header ul {
	float: left;
	min-width: 76px;
	margin-left: 35px
}

.sponsor-list-nav li {
	float: left;
	font-size: 12px;
	line-height: 24px;
	height: 24px;
	color: #222;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	cursor: pointer
}

.sponsor-list-nav li+li {
	margin-left: 20px
}

.sponsor-list-nav li.cur {
	color: #00a1d6;
	border-bottom: 1px solid #00a1d6
}

.sponsor-list-nav li.cur:after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 50%;
	margin-left: -3px;
	border: 3px solid #00a1d6;
	border-bottom-style: solid;
	border-top: 0;
	border-left-color: transparent;
	border-right-color: transparent
}

.sponsor-list-nav li:hover {
	color: #00a1d6
}

.btn-sponsor-list-popupbox {
	display: block;
	float: right;
	padding: 0 15px;
	border: 1px solid #ccd0d7;
	height: 24px;
	line-height: 24px;
	color: #222;
	font-size: 12px;
	border-radius: 4px
}

.btn-sponsor-list-popupbox:hover {
	color: #222;
	background-color: #ccd0d7
}

.sponsor-list .empty {
	height: 200px;
	line-height: 200px;
	text-align: center;
	color: #ccd0d7;
	margin-top: -10px
}

.sponsor-list-child {
	float: left;
	width: 170px;
	height: 80px;
	margin-right: 73px
}

.sponsor-list-child .sponsor-list-left {
	float: left;
	width: 57px
}

.sponsor-list-child .sponsor-list-left .sponsor-list-userimg {
	position: relative;
	padding: 8px 0 2px 1px;
	background: url(../img/icons.png) -1228px -1157px no-repeat
}

.sponsor-list-child .sponsor-list-left .sponsor-list-userimg img {
	border-radius: 50%;
	width: 32px;
	height: 32px;
	padding: 2px
}

.sponsor-list-child .sponsor-list-left .sponsor-list-userimg .sponsor-list-rank
	{
	position: absolute;
	min-width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	color: #99a2aa;
	top: 0;
	left: 26px
}

.sponsor-list-child .sponsor-list-left .sponsor-list-userimg.double-digit
	{
	background-position: -1228px -1223px
}

.sponsor-list-child .sponsor-list-left .sponsor-list-userimg.double-digit .sponsor-list-rank
	{
	left: 29px
}

.sponsor-list-child .sponsor-list-right {
	margin-left: 56px;
	position: relative
}

.sponsor-list-child .sponsor-list-right .sponsor-list-username {
	padding-top: 10px;
	height: 16px;
	line-height: 1;
	font-size: 12px;
	color: #222;
	font-weight: 700;
	max-width: 124px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.sponsor-list-child .sponsor-list-right .sponsor-list-usermessage {
	word-break: break-word;
	position: absolute;
	width: 124px;
	max-height: 56px;
	font-size: 12px;
	line-height: 20px;
	top: 24px;
	left: 0;
	color: #99a2aa
}

.sponsor-list-child:nth-child(6) {
	margin-right: 0
}

.sponsor-list-top {
	width: 210px;
	height: 114px;
	margin-right: 30px
}

.sponsor-list-top .sponsor-list-left {
	width: 50px
}

.sponsor-list-top .sponsor-list-left img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	padding: 0;
	border: 1px solid #e5e9ef
}

.sponsor-list-top .sponsor-list-right {
	margin-left: 60px;
	position: relative
}

.sponsor-list-top .sponsor-list-right .sponsor-list-username {
	display: inline-block;
	padding-top: 10px;
	font-size: 14px;
	height: 16px;
	line-height: 16px;
	color: #222;
	font-weight: 700;
	max-width: 124px;
	padding-right: 28px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.sponsor-popupbox-title, .sponsor-tosponsor-btn {
	font-size: 18px;
	text-align: center;
	font-weight: 700
}

.sponsor-list-top .sponsor-list-right .sponsor-list-username a {
	color: #222
}

.sponsor-list-top .sponsor-list-right .sponsor-list-username i {
	position: absolute;
	width: 20px;
	height: 16px;
	background-image: url(../img/icons.png);
	top: 9px;
	right: 0
}

.sponsor-list-top .sponsor-list-right .sponsor-list-usermessage {
	word-break: break-word;
	position: absolute;
	width: 145px;
	max-height: 70px;
	padding: 1px 5px;
	border: 1px solid #e5e9ef;
	border-radius: 0 4px 4px;
	box-sizing: border-box;
	color: #99a2aa;
	line-height: 20px;
	top: 36px;
	left: 5px
}

.sponsor-list-top .sponsor-list-right .sponsor-list-usermessage span,
	.sponsor-list-top .sponsor-list-right .sponsor-list-usermessage span:before
	{
	position: absolute;
	border: 5px solid #e5e9ef;
	border-left-color: transparent;
	border-bottom-color: transparent;
	top: -1px;
	left: -10px
}

.sponsor-list-top .sponsor-list-right .sponsor-list-usermessage span:before
	{
	content: '';
	border-color: #fff #fff transparent transparent;
	top: -4px;
	left: -2px
}

.sponsor-list-normal.empty, .sponsor-list-top.empty {
	margin-right: 0;
	border: 1px dashed #e5e9ef;
	box-sizing: border-box
}

.sponsor-list-top.top1 .sponsor-list-rank {
	background-position: -726px -1493px
}

.sponsor-list-top.top2 .sponsor-list-rank {
	background-position: -726px -1558px
}

.sponsor-list-top.top3 {
	margin-right: 0
}

.sponsor-list-top.top3 .sponsor-list-rank {
	background-position: -726px -1623px
}

.sponsor-list-top.empty {
	width: 210px;
	height: 64px;
	line-height: 62px;
	margin-top: 0
}

.sponsor-list-normal {
	margin-top: 10px
}

.sponsor-list-normal.empty {
	margin-top: 15px;
	width: 180px;
	height: 40px;
	line-height: 38px
}

.sponsor-tosponsor {
	text-align: center
}

.sponsor-tosponsor.sponsor-active-pendant .sponsor-tosponsor-img {
	position: relative;
	background: url(../img/shine.png) top center no-repeat
}

.sponsor-tosponsor.sponsor-active-pendant .sponsor-tosponsor-img .sponsor-tosponsor-head
	{
	position: absolute;
	width: 60px;
	height: 60px;
	top: 50px;
	left: 50%;
	margin-left: -30px;
	background: url(../img/22.png) center no-repeat;
	z-index: 101
}

.sponsor-tosponsor.sponsor-active-pendant .sponsor-tosponsor-img img {
	width: 100px;
	height: 100px;
	top: 30px
}

.sponsor-tosponsor.sponsor-active-chengbao .sponsor-tosponsor-img img {
	margin-bottom: 5px;
	cursor: pointer
}

.sponsor-tosponsor img {
	z-index: 100;
	position: relative;
	width: 100%;
	height: 100%
}

.sponsor-tosponsor .sponsor-tosponsor-img {
	width: 260px;
	height: 160px
}

.sponsor-tosponsor-img img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto
}

.sponsor-tosponsor-btn {
	display: block;
	margin: 20px auto 0;
	width: 192px;
	height: 47px;
	background-color: #f5b23d;
	line-height: 47px;
	color: #fff;
	border-radius: 4px;
	box-shadow: 0 4px 4px rgba(255, 220, 124, .5)
}

.sponsor-tosponsor-btn:hover {
	background-color: #ffc154;
	color: #fff
}

.widescreen .sponsor-content-left {
	width: 880px
}

.widescreen .sponsor-content-right {
	margin-left: 900px
}

.widescreen .sponsor-list-child {
	margin-right: 50px
}

.widescreen .sponsor-list-child:last-child {
	margin-right: 0
}

.widescreen .sponsor-list-child.sponsor-list-top {
	width: 252px
}

.widescreen .sponsor-list-child.sponsor-list-normal {
	width: 170px
}

.widescreen .sponsor-list-top {
	width: 252px;
	margin-right: 60px
}

.widescreen .sponsor-list-top .sponsor-list-left {
	width: 66px
}

.widescreen .sponsor-list-top .sponsor-list-left img {
	width: 66px;
	height: 66px
}

.widescreen .sponsor-list-top .sponsor-list-right {
	margin-left: 76px
}

.widescreen .sponsor-list-top .sponsor-list-right .sponsor-list-username
	{
	max-width: 144px
}

.widescreen .sponsor-list-top .sponsor-list-right .sponsor-list-usermessage
	{
	width: 174px
}

.widescreen .sponsor-list-top.top3 {
	margin-right: 0
}

.widescreen .sponsor-list-top.top3 i {
	background-position: -726px -1623px
}

.widescreen .sponsor-list-top.empty {
	width: 250px
}

.sponsor-popupbox-wrapper {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .3);
	z-index: 999
}

.sponsor-popupbox-wrapper .sponsor-popupbox {
	width: 600px;
	height: 640px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -340px;
	margin-left: -300px;
	z-index: 1000;
	background-color: #fff;
	box-shadow: 1px 1px 14px rgba(0, 0, 0, .1);
	overflow: hidden;
	border-radius: 4px
}

.sponsor-popupbox-head {
	height: 45px;
	line-height: 45px;
	position: relative
}

.sponsor-popupbox-title {
	width: 94px;
	height: 45px;
	background-color: #f5b23d;
	color: #fff;
	float: left
}

.sponsor-popupbox-head .sponsor-list-nav {
	height: 45px;
	margin-left: 94px;
	border-bottom: 1px solid #e5e9ef;
	box-sizing: border-box
}

.sponsor-popupbox-head .sponsor-list-nav li {
	height: 45px;
	line-height: 45px;
	margin-bottom: -1px;
	margin-left: 24px
}

.sponsor-popupbox-close-btn {
	display: block;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 17px;
	right: 14px;
	background: url(../img/icons.png) -474px -538px no-repeat
}

.sponsor-popupbox-close-btn:hover {
	background-position: -474px -1178px
}

.sponsor-popupbox-list-wrapper {
	margin: 20px 8px 20px 0
}

.sponsor-popupbox-list-wrapper .sponsor-list .empty {
	width: auto;
	height: 530px;
	line-height: 530px
}

.sponsor-popupbox-list {
	overflow: auto;
	height: 575px
}

.sponsor-popupbox-list li {
	height: 58px;
	line-height: 58px;
	padding-left: 26px;
	box-sizing: border-box;
	border-left: 6px solid transparent
}

.sponsor-popupbox-list li.cur {
	background-color: #f4f5f7;
	border-color: #f5b23d
}

.sponsor-popupbox-list li a {
	display: inline-block;
	line-height: 58px
}

.sponsor-popupbox-list li .rank {
	display: inline-block;
	width: 28px;
	margin-right: 7px;
	text-align: center;
	vertical-align: middle
}

.sponsor-popupbox-list li .rank i {
	display: inline-block;
	min-width: 16px;
	max-width: 28px;
	height: 16px;
	background-color: #b7bfcb;
	color: #fff;
	text-align: center;
	line-height: 16px;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 0 3px;
	font-weight: 700
}

.sponsor-popupbox-list li img {
	display: inline-block;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	margin-right: 7px;
	vertical-align: -12px
}

.sponsor-popupbox-list li .username {
	display: inline-block;
	vertical-align: middle;
	max-width: 84px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #222;
	font-weight: 700;
	margin-right: 10px
}

.sponsor-popupbox-list li .desc {
	display: inline-block;
	vertical-align: middle;
	padding: 0 8px;
	color: #99a2aa;
	margin-right: 10px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #e5e9ef;
	background-color: #fff;
	position: relative
}

.sponsor-popupbox-list li .desc div {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 310px;
	height: 28px;
	line-height: 28px
}

.sponsor-popupbox-list li .desc:before {
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	background-color: #fff;
	border: 1px solid #e5e9ef;
	border-right-color: transparent;
	border-bottom-color: transparent;
	transform: rotate(-45deg);
	top: 11px;
	left: -4px
}

.sponsor-popupbox-list li .usercoin {
	display: inline-block;
	color: #99a2aa;
	vertical-align: -1px
}

.sponsor-popupbox-list li .usercoin i {
	display: inline-block;
	vertical-align: -7px;
	width: 25px;
	height: 25px;
	background: url(../img/icons.png) -275px -1747px no-repeat;
	margin-right: 5px
}

.sponsor-popupbox-list li.top .rank {
	vertical-align: -6px
}

.sponsor-popupbox-list li.top .rank i {
	margin-left: 0;
	width: 20px;
	background: url(../img/icons.png) no-repeat
}

.sponsor-popupbox-list li.top.top1 .rank i {
	background-position: -726px -1493px
}

.sponsor-popupbox-list li.top.top2 .rank i {
	background-position: -726px -1558px
}

.sponsor-popupbox-list li.top.top3 .rank i {
	background-position: -726px -1624px
}

.sponsor-popupbox-list li.user .rank {
	min-width: 28px;
	width: auto
}

.sponsor-popupbox-list li.user .rank i {
	max-width: inherit
}

.user-v, .user-v * {
	color: #fb7299 !important
}

.user-v :hover, .user-v:hover {
	color: #ff8dae !important
}