/* ::::: https://static-s.bilibili.com/css/core-v5/base.css ::::: */
input, button, select, textarea {
	outline: 0px none;
}

h1, h2, h3, h4, h5, h6, ul, li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

img {
	border: 0px none;
	vertical-align: middle;
}

a {
	outline: 0px none;
	color: rgb(0, 161, 214);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: rgb(242, 93, 142);
}

a:focus {
	
}

a img {
	border: 0px none;
}

address, caption, cite, code, dfn, em, i, th, var {
	font-style: normal;
	font-weight: normal;
}

p, span {
	margin: 0px;
	padding: 0px;
}

.clearfix::after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	font-size: 0px;
}

.clearfix {
	
}

.b-icon {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	background: rgba(0, 0, 0, 0) url('../img/icons.png') no-repeat scroll 0%
		0%;
}

.b-icon.b-icon-p-member, .b-icon.b-icon-p-account, .b-icon.b-icon-p-wallet,
	.b-icon.b-icon-p-live, .b-icon.b-icon-p-ticket {
	width: 16px;
	height: 16px;
}

.b-icon.b-icon-p-member {
	background-position: -472px -344px;
}

.b-icon.b-icon-p-account {
	background-position: -472px -407px;
}

.b-icon.b-icon-p-wallet {
	background-position: -472px -472px;
}

.b-icon.b-icon-p-live {
	background-position: -473px -855px;
}

.b-icon.b-icon-p-ticket {
	background: rgba(0, 0, 0, 0) url('../img/icon-ticket.png') no-repeat
		scroll -2px 0px;
	width: 18px;
}

.b-icon.b-icon-vp {
	background-position: -471px -919px;
}

.b-icon.b-icon-vm {
	background-position: -471px -982px;
}

.b-icon.b-icon-vc {
	background-position: -471px -1751px;
}

.b-icon.b-icon-vc {
	background-position: -471px -1751px;
}

.b-icon.b-icon-music {
	background-position: -534px -983px;
}

.b-icon.b-icon-art {
	background-position: -534px -919px;
}

.z_top_container {
	color: rgb(34, 34, 34);
	position: relative;
	z-index: 200;
}

.z_top {
	height: 42px;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	top: 0px;
	left: 0px;
	width: 100%;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
		"Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	color: rgb(34, 34, 34);
}

.z_top .i-link {
	padding: 0px 10px;
	transition: background-color 0.15s ease 0s;
	font-size: 12px;
}

.z_top .i-link:hover {
	color: rgb(0, 161, 214);
	background: rgba(255, 255, 255, 0.24) none repeat scroll 0% 0%;
}

.z_top .shouji .mobile-p-box {
	display: none;
	position: absolute;
	overflow: hidden;
	top: 42px;
	width: 259px;
	height: 174px;
	left: -20px;
	background: rgba(0, 0, 0, 0) url('../img/app-box.png') no-repeat scroll
		center center;
	transition: opacity 0.2s ease 0s;
}

.z_top .shouji .mobile-p-box .mobile-p-qrcode {
	position: absolute;
	top: 30px;
	width: 100px;
	height: 100px;
	left: 80px;
	background: rgba(0, 0, 0, 0) url('../img/app-qrcode.png') no-repeat
		scroll center center;
}

.z_top a {
	color: rgb(34, 34, 34);
}

.z_top .z_header {
	display: block;
	margin: 0px auto;
	position: relative;
	text-align: left;
	z-index: 10000;
	width: 980px;
}

.z_top .z_header::after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	font-size: 0px;
}

.z_top .z_top_nav {
	float: left;
	height: 42px;
	font-size: 12px;
}

.z_top .z_top_nav ul {
	
}

.z_top .z_top_nav ul::after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	font-size: 0px;
}

.z_top .z_top_nav ul li {
	float: left;
	text-align: center;
	line-height: 42px;
	position: relative;
}

.z_top .z_top_nav ul li a.i-link {
	height: 100%;
	display: block;
}

.z_top .z_top_nav ul li.home {
	margin-left: -10px;
	background-image: url('../img/icons.png');
	background-repeat: no-repeat;
	background-position: -910px -74px;
}

.z_top .z_top_nav ul li.home .i-link {
	width: 50px;
	height: 42px;
	padding: 0px 0px 0px 20px;
}

.z_top .z_top_nav ul li .i_div {
	display: none;
	position: absolute;
	top: 42px;
	left: 0px;
	border-radius: 0px 0px 4px 4px;
	text-align: left;
	background-color: transparent;
	overflow: hidden;
	z-index: 15;
}

.z_top .z_top_nav ul li .i_div.game {
	z-index: 9870;
	width: 680px;
	height: 260px;
	font-size: 14px;
	overflow: hidden;
}

.z_top .z_top_nav ul li .i_div.stream {
	z-index: 9870;
	width: 528px;
	height: 266px;
	font-size: 14px;
	overflow: hidden;
}

@media not all , not all {
	.b-header-mask-wrp .b-header-mask {
		background-color: rgba(255, 255, 255, 0.7);
	}
}

@media not all , not all {
	.b-header-blur-black .b-header-mask-wrp .b-header-mask {
		background-color: rgba(0, 0, 0, 0.4);
	}
}

.uns_box {
	float: right;
	font-size: 12px;
}

.uns_box ul.menu {
	float: left;
	position: relative;
}

.uns_box li[guest] {
	display: none;
}

.uns_box li.i_user {
	margin: 0px 9px;
	width: 36px;
}

.uns_box li.u-i {
	float: left;
	text-align: center;
	height: 42px;
	line-height: 42px;
	position: relative;
}

.uns_box li.u-i .i_face {
	position: absolute;
	z-index: 20;
	left: 0px;
	top: 0px;
	border-color: rgb(255, 255, 255);
	border-radius: 18px;
	display: block;
	height: 36px;
	width: 36px;
	margin: 3px 0px;
	transition: all 0.3s ease 0s;
}

.uns_box li.u-i a.i-link {
	display: block;
	color: rgb(34, 34, 34);
}

.uns_box li.u-i:hover a.i-link {
	color: rgb(0, 161, 214);
}

.uns_box li.u-i.i_user a.i-link {
	padding: 0px;
}

.uns_box li.u-i.b-post {
	margin-right: 0px;
}

.uns_box li.u-i.b-post:hover a.i-link {
	background-image: url('../img/b-post-hover.png');
}

.uns_box li.u-i.b-post a.i-link {
	margin: 0px;
	padding: 0px;
	width: 58px;
	position: relative;
	z-index: 10;
	background: rgba(0, 0, 0, 0) url('../img/b-post.png') no-repeat scroll
		center center;
	height: 48px;
	border-radius: 0px 0px 5px 5px;
	color: rgb(255, 255, 255) !important;
	font-size: 14px;
}

.uns_box li.u-i.b-post .up-new {
	position: absolute;
	width: 54px;
	height: 34px;
	top: 4px;
	right: -53px;
	background: rgba(0, 0, 0, 0) url('../img/up-new-iocn.png') no-repeat
		scroll 0% 0%;
	z-index: 20;
}

.uns_box li.u-i.b-post .s-menu {
	position: absolute;
	display: block;
	visibility: hidden;
	top: 42px;
	right: 0px;
	z-index: 15;
	width: 288px;
	border: 0px none;
	transition: all 0.2s ease 0s;
	border-radius: 0px 0px 4px 4px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
	opacity: 0;
	overflow: hidden;
}

.uns_box li.u-i.b-post .s-menu li {
	cursor: pointer;
	text-align: center;
	width: 72px;
	height: 64px;
	transition: all 0.1s ease 0s;
	float: left;
	position: relative;
}

.uns_box li.u-i.b-post .s-menu li:hover {
	background-color: rgb(229, 233, 239);
}

.uns_box li.u-i.b-post .s-menu li .b-icon {
	display: block;
	width: 20px;
	height: 20px;
	margin: 0px auto 8px;
}

.uns_box li.u-i.b-post .s-menu li a {
	display: block;
	color: rgb(242, 93, 142);
	padding: 14px 12px 0px;
	line-height: 1;
}

.uns_box li.u-i.b-post .s-menu li em {
	display: block;
}

.uns_box li.u-i.b-post .s-menu li .new {
	position: absolute;
	width: 22px;
	height: 9px;
	border-radius: 5px;
	top: 5px;
	right: 0px;
	background: rgba(0, 0, 0, 0) url('../img/icons_001.png') no-repeat
		scroll -851px -412px;
}

.uns_box li.u-i.b-post .s-menu li .beta {
	position: absolute;
	width: 27px;
	height: 9px;
	border-radius: 5px;
	top: 5px;
	right: 0px;
	background: rgba(0, 0, 0, 0) url('../img/icons_001.png') no-repeat
		scroll -851px -1307px;
}

.uns_box li.u-i.b-post .s-menu .music-up {
	display: none;
}

.uns_box li.u-i.b-post .music-show {
	width: 360px;
}

.uns_box li.u-i.b-post .music-show .music-up {
	display: block;
}

.uns_box li.u-i.b-post:hover .s-menu {
	visibility: visible;
	opacity: 1;
}

.uns_box li .i_menu {
	position: absolute;
	left: 0px;
	padding: 5px 0px;
	top: 42px;
	display: block;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
	list-style: outside none none;
	z-index: 10;
	border-radius: 0px 0px 4px 4px;
}

.uns_box li .i_menu li a {
	white-space: nowrap;
	color: rgb(34, 34, 34);
	line-height: 30px;
	text-align: left;
	margin: 0px auto;
	display: block;
	padding: 0px 5px 0px 0px;
}

.uns_box li .i_menu li a:hover {
	color: rgb(0, 161, 214);
}

.i_menu_bg_t {
	height: 8px;
	width: 16px;
	top: -7px;
	left: 50%;
	margin-left: -8px;
	background: rgba(0, 0, 0, 0) url('../img/topicons.png') no-repeat scroll
		0px -404px;
	position: absolute;
}

#i_menu_profile, #i_menu_login {
	display: none;
	left: 50%;
	margin-left: -130px;
	width: 260px;
	padding-bottom: 0px;
	padding-top: 50px;
	border-top: 0px none;
}

#i_menu_login {
	display: none;
	width: 320px;
	margin-left: -160px;
	padding: 12px;
	text-align: left;
	line-height: normal;
}

#i_menu_login .tip {
	font-size: 12px;
	color: rgb(109, 117, 122);
}

#i_menu_login .img {
	width: 320px;
	height: 200px;
	margin: 12px 0px;
	overflow: hidden;
	position: relative;
	background: rgba(0, 0, 0, 0) url('../img/danmu_001.png') no-repeat
		scroll center center;
}

#i_menu_login .img img {
	width: 320px;
	height: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#i_menu_login .login-btn {
	display: block;
	height: 43px;
	line-height: 43px;
	text-align: center;
	background: rgb(0, 161, 214) none repeat scroll 0% 0%;
	border-radius: 4px;
	font-size: 14px;
	color: rgb(255, 255, 255);
}

#i_menu_login .login-btn:hover {
	background: rgb(0, 181, 229) none repeat scroll 0% 0%;
}

#i_menu_login .reg {
	margin-top: 8px;
	text-align: center;
	font-size: 12px;
	color: rgb(40, 40, 40);
}

#i_menu_login .reg a {
	color: rgb(0, 161, 214);
}

#i_menu_login .reg a:hover {
	color: rgb(0, 181, 229);
}

#i_menu_profile .i_menu_bg_t {
	display: none;
}

#i_menu_profile .info {
	height: auto;
	border: 0px none;
	margin-bottom: 10px;
	padding: 0px 20px;
}

#i_menu_profile .info .uname {
	line-height: 16px;
	padding-bottom: 15px;
	text-align: center;
}

#i_menu_profile .info .coin, #i_menu_profile .info .score {
	max-width: 70px;
	text-align: left;
	float: left;
	line-height: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#i_menu_profile .info .coin {
	position: relative;
	max-width: none;
	overflow: visible;
}

#i_menu_profile .info .coin:hover {
	color: rgb(0, 161, 214);
}

#i_menu_profile .info .email::before, #i_menu_profile .info .phone::before
	{
	content: "";
	position: absolute;
	display: block;
	top: -3px;
	right: -3px;
	width: 7px;
	height: 7px;
	background-color: rgb(242, 93, 142);
	border: 2px solid rgb(255, 255, 255);
	border-radius: 50%;
}

#i_menu_profile .info .email.verified::before, #i_menu_profile .info .phone.verified::before
	{
	display: none;
}

#i_menu_profile .member-menu-wrp {
	margin: 0px 20px;
	overflow: hidden;
}

#i_menu_profile .member-menu {
	border-top: 1px solid rgb(229, 233, 239);
	padding: 10px 0px;
	margin-right: -20px;
	clear: both;
}

#i_menu_profile .member-menu::after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	font-size: 0px;
}

#i_menu_profile .member-menu li {
	float: left;
	width: 100px;
	margin-right: 20px;
	position: relative;
}

#i_menu_profile .member-menu li .b-icon {
	margin-right: 10px;
	vertical-align: top;
}

#i_menu_profile .member-menu li .b-icon.b-icon-p-ticket {
	margin-right: 8px;
}

#i_menu_profile .member-menu li a {
	padding: 0px;
}

#i_menu_profile .member-menu li a {
	padding: 5px 0px;
	line-height: 16px;
}

#i_menu_profile .member-menu li a.member .b-icon-p-member {
	background-position: -536px -1046px;
}

#i_menu_profile .member-menu li a.member:hover .b-icon-p-member {
	background-position: -601px -1046px;
}

#i_menu_profile .member-menu li a.account:hover .b-icon-p-account {
	background-position: -536px -407px;
}

#i_menu_profile .member-menu li a.wallet:hover .b-icon-p-wallet {
	background-position: -536px -472px;
}

#i_menu_profile .member-menu li a.live:hover .b-icon-p-live {
	background-position: -537px -855px;
}

#i_menu_profile .member-menu li a.ticket:hover .b-icon-p-ticket {
	background-position: -2px -15px;
}

#i_menu_profile .member-bottom {
	height: 30px;
	line-height: 30px;
	padding: 0px 20px;
	background-color: rgb(244, 245, 247);
	border-radius: 0px 0px 4px 4px;
}

#i_menu_profile .member-bottom a:hover {
	color: rgb(0, 161, 214);
}

#i_menu_profile .member-bottom a.logout {
	float: right;
}

.uns_box .u-i .num {
	height: 12px;
	line-height: 12px;
	color: rgb(255, 255, 255);
	background-color: rgb(242, 93, 142);
	border-radius: 10px;
	position: absolute;
	padding: 1px 2px;
	display: none;
	font-size: 12px;
	top: 7px;
	left: 34px;
	min-width: 16px;
	z-index: 30;
	text-align: center;
}

.uns_box #i_menu_become_vip {
	padding-left: 1px;
}

.user-info::after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	font-size: 0px;
}

.z_top .z_top_nav li.hbili, .z_top .z_top_nav li.live {
	position: relative;
}

.footer {
	width: 100%;
	padding-top: 20px;
	color: rgb(153, 162, 170);
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
		"Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.footer .footer-wrp {
	background-color: rgb(246, 249, 250);
	padding-top: 40px;
	padding-bottom: 40px;
}

.footer a {
	color: rgb(34, 34, 34);
}

.footer a:hover {
	color: rgb(0, 161, 214);
}

.footer .icons-footer.icons-footer-report {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	background: rgba(0, 0, 0, 0) url('../img/icons.png') no-repeat scroll
		-1367px -89px;
}

.footer .partner .left, .footer .partner .right {
	line-height: 24px;
}

.footer .partner .left a, .footer .partner .right a {
	color: rgb(153, 162, 170);
}

.footer .partner .left a:hover, .footer .partner .right a:hover {
	color: rgb(34, 34, 34);
}

.footer .right {
	float: right;
}

.footer .footer-cnt {
	width: 980px;
	margin: 0px auto;
}

.footer .boston-postcards {
	list-style: outside none none;
	margin: 0px auto 30px;
	float: left;
}

.footer .boston-postcards li:first-child {
	border-left: 0px none;
	padding-left: 0px !important;
}

.footer .boston-postcards li:last-child {
	width: 280px;
	padding-right: 0px;
}

.footer .boston-postcards li {
	float: left;
	text-align: left;
	list-style: outside none none;
	width: 300px;
	height: 112px;
	padding-right: 25px;
	padding-left: 24px;
	line-height: 1;
	border-left: 1px solid rgb(229, 233, 239);
	font-size: 14px;
}

.footer .boston-postcards li .tips {
	margin-bottom: 22px;
}

.footer .boston-postcards li .cards {
	float: left;
	width: 100px;
	position: relative;
	margin-bottom: 16px;
}

.footer .partner {
	padding: 0px;
	text-align: left;
	margin: 0px auto;
	height: 80px;
}

.footer .partner .partner-banner {
	background: rgba(0, 0, 0, 0) url('../img/footpic.png') no-repeat scroll
		0% 0%;
	width: 100px;
	height: 80px;
}

.footer .block.right {
	position: relative;
	width: 100%;
}

.footer .block.right div {
	position: relative;
	width: 82px;
	height: 80px;
	float: left;
}

.footer .block.right em {
	position: absolute;
	width: 82px;
	line-height: 14px;
	float: left;
	bottom: 0px;
	left: 0px;
	text-align: center;
}

.footer .block.right .pic {
	position: relative;
	margin-left: 11px;
	width: 60px;
	height: 60px;
}

.footer .block.right .phone .pic {
	background: rgba(0, 0, 0, 0) url('../img/icons.png') no-repeat scroll
		-1024px -194px;
}

.footer .block.right .phone .pic:hover {
	background-position: -1090px -194px;
}

.footer .block.right .weibo .pic {
	background: rgba(0, 0, 0, 0) url('../img/icons.png') no-repeat scroll
		-1024px -322px;
}

.footer .block.right .weibo .pic:hover {
	background-position: -1090px -322px;
}

.footer .block.right .weixin .pic {
	color: rgb(34, 34, 34);
	background: rgba(0, 0, 0, 0) url('../img/icons.png') no-repeat scroll
		-1024px -66px;
}

.footer .block.right .weixin .pic:hover {
	background-position: -1090px -66px;
}

.footer .block.right .qrcode-box-wrp {
	width: 130px;
	height: 130px;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	margin-top: -146px;
	right: -23px;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s ease 0s;
	z-index: 100000;
}

.footer .block.right .qrcode-box {
	width: 128px;
	height: 128px;
	border: 1px solid rgb(229, 233, 239);
}

.footer .block.right .qrcode-box.qrcode-app {
	background: rgba(0, 0, 0, 0) url('../img/app-qrcode.png') no-repeat
		scroll center center;
}

.footer .block.right .qrcode-box.qrcode-weibo {
	background: rgba(0, 0, 0, 0) url('../img/weibo-qrcode.png') no-repeat
		scroll center center;
}

.footer .block.right .qrcode-box.qrcode-weixin {
	background: rgba(0, 0, 0, 0) url('../img/wx.gif') no-repeat scroll
		center center;
}

.footer .block.right .qrcode-box .qrcode-box-arrow {
	width: 130px;
	height: 141px;
	background: rgba(0, 0, 0, 0) url('../img/wx-arrow.png') no-repeat scroll
		center bottom;
}

.footer .block.right .phone:hover .qrcode-box-wrp, .footer .block.right .weibo:hover .qrcode-box-wrp,
	.footer .block.right .weixin:hover .qrcode-box-wrp {
	visibility: visible;
	opacity: 1;
}

.footer .block.right .bigvip-qrcode {
	width: 260px;
	height: 150px;
	margin-top: -166px;
}

.footer .block.right .bigvip-qrcode .qrcode-box {
	width: 258px;
	height: 148px;
}

.footer .block.right .bigvip-qrcode .qrcode-box .qrcode-box-arrow {
	margin-left: 128px;
	margin-top: 20px;
}

#dyn_wnd .dyn_menu .line::before {
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -3px;
	bottom: 0px;
	width: 0px;
	height: 0px;
	border-width: 0px 3px 3px;
	border-style: none dashed solid;
	border-color: currentcolor transparent rgb(0, 161, 214);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
}

#dyn_wnd .dyn_list li::after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	font-size: 0px;
}

#dyn_wnd .dyn_list li.loading::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: rgba(0, 0, 0, 0) url('../img/loading.gif') no-repeat scroll
		center center;
	margin-right: 5px;
	margin-top: -5px;
}

#dyn_wnd .dyn_list li.loading.f::before {
	background: rgba(0, 0, 0, 0) none repeat scroll 0px center;
}

#dyn_wnd .notice_list li a::after {
	display: inline-block;
	width: 0px;
	height: 100%;
	content: ".";
	vertical-align: middle;
	overflow: hidden;
}

.mini-wnd {
	display: none;
	position: absolute;
	left: 0px;
	top: 42px;
	background-color: rgb(255, 255, 255);
	width: 320px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
	border: 1px solid rgb(229, 233, 239);
	border-radius: 0px 0px 4px 4px;
	z-index: 200;
}

.mini-wnd .list {
	padding-top: 10px;
}

.mini-wnd .list.history li::before {
	left: 26px;
}

.mini-wnd .list.history li.timeline::before {
	display: none;
}

.mini-wnd .list li::before {
	content: "";
	display: block;
	position: absolute;
	top: 13px;
	left: 10px;
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background-color: rgb(109, 117, 122);
}

.mini-wnd .read-more {
	display: block;
	margin: 4px 12px 12px;
	background-color: rgb(229, 233, 239);
	text-align: center;
	border: 1px solid rgb(224, 230, 237);
	height: 22px;
	line-height: 22px;
	color: rgb(34, 34, 34);
	border-radius: 4px;
}

.mini-wnd .read-more:hover {
	background-color: rgb(204, 208, 215);
}

.mini-wnd .top-login .txt {
	font-size: 14px;
	color: rgb(34, 34, 34);
	width: 215px;
	margin: 0px auto 12px;
	line-height: normal;
	text-align: center;
	padding-top: 28px;
}

.mini-wnd .top-login .loginbtn {
	font-size: 12px;
	color: rgb(255, 255, 255);
	line-height: normal;
	text-align: left;
	background-color: rgb(0, 161, 214);
	padding: 5px 11px;
	border-radius: 4px;
	margin: 10px 63px 20px;
	position: relative;
	z-index: 201;
}

.mini-wnd .top-login .loginbtn:hover {
	background-color: rgb(0, 181, 229);
}

.bilibili-suggest {
	border: 1px solid rgb(229, 233, 239);
	position: absolute;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	z-index: 199;
	border-radius: 4px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
	padding-bottom: 5px;
}

.nav-search {
	position: relative;
	float: right;
	height: 32px;
	margin: 5px 12px 5px 0px;
}

.nav-search #nav_searchform {
	display: block;
	background-color: rgb(255, 255, 255);
	border-radius: 16px;
	padding-right: 30px;
	height: 30px;
	transition: border-color 0.2s ease 0s;
	border: 1px solid rgb(204, 208, 215);
}

.nav-search .nav-search-keyword {
	float: left;
	width: 40px;
	color: rgb(153, 162, 170);
	font-size: 12px;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	padding: 0px 0px 0px 10px;
	border: 0px none;
	box-shadow: none;
	background-color: transparent;
	transition: width 0.2s ease 0s;
}

.nav-search .nav-search-submit {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30px;
	min-width: 0px;
	cursor: pointer;
	height: 32px;
	background: rgba(0, 0, 0, 0) url('../img/icons.png') repeat scroll
		-786px -721px;
	margin: 0px;
	padding: 0px;
	border: 0px none;
}

.nav-search .nav-search-submit:hover {
	background-position: -723px -721px;
}
/* ::::: https://static-s.bilibili.com/passport/css/zclc2.1460959081.css ::::: */
button, img, input {
	border: 0px none;
}

.new_phone, .yzm, .yzm_buttom {
	position: relative;
}

.blue, .yzm_buttom_a a, a, a:hover, label a {
	text-decoration: none;
}

#content_game_notice_content .main-content-list-small,
	#content_game_notice_content .main-content-list-small li,
	#content_my_message_content .message-list, #content_my_notice_content .main-content-list-small,
	#content_my_notice_content .main-content-list-small li,
	.friend-list-item, .message-menu-small li, .mini-box ul, .mini-list ul,
	.recently-list li, .subtab-list, .subtab-list li, .upload-list,
	.upload-list li, li, ol, ul {
	list-style: outside none none;
}

a, body, dd, div, dl, dt, h1, h2, h3, h4, h5, h6, input, li, ol, p, span,
	textarea, ul {
	margin: 0px;
	padding: 0px;
}

body {
	font: 12px "Microsoft YaHei", "Hiragino Sans GB", Arial, sans-serif;
	min-width: 980px;
}

.top, .top_bg {
	height: 106px;
}

.footer .partner {
	font-size: 12px;
}

.top {
	background: rgba(0, 0, 0, 0) url('../img/title.png') repeat scroll 0% 0%;
	width: 980px;
	margin: 0px auto;
}

.top_bg {
	width: 100%;
	background: rgba(0, 0, 0, 0) url('../img/rl_topbg.png') repeat-x scroll
		0% 0%;
}

.user_id_password, .yzm {
	border: 1px solid rgb(223, 223, 223);
}

.yzm {
	height: 40px;
	width: 415px;
}

.verify-content {
	width: 400px;
	position: relative;
	margin: 0px auto;
	text-align: center;
}

.verify-content .email, .verify-content .password {
	width: 388px;
	border: 1px solid rgb(221, 221, 221);
	padding: 10px 0px 10px 10px;
	height: 18px;
}

.verify-content .password {
	border-radius: 2px;
	color: rgb(170, 170, 170);
	font-size: 14px;
}

.verify-content p {
	position: absolute;
	font-size: 12px;
	color: rgb(0, 160, 216);
	right: 10px;
	top: 115px;
}

.verify-content .box {
	position: relative;
	overflow: hidden;
}

.verify-content .code {
	padding: 10px 0px 10px 10px;
	height: 18px;
	width: 170px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 2px;
	color: rgb(170, 170, 170);
	font-size: 14px;
	position: relative;
	margin-right: 235px;
}

.verify-content .box .yzm {
	width: 110px;
	height: 30px;
	position: absolute;
	left: 190px;
	top: 30px;
	margin-top: 4px;
}

.verify-content .box p {
	position: absolute;
	font-size: 12px;
	color: rgb(0, 160, 216);
	right: 52px;
	top: 31px;
	margin-top: 10px;
	cursor: pointer;
}

.verify-content .box p:hover {
	color: rgb(255, 68, 0);
}

.verify-content .login {
	display: block;
	height: 38px;
	width: 398px;
	border: 1px solid rgb(3, 129, 170);
	border-radius: 2px;
	line-height: 38px;
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 15px;
	background-color: rgb(0, 167, 222);
	cursor: pointer;
	margin: 25px 0px 6px;
}

.verify-content .no-account {
	font-size: 12px;
	color: rgb(0, 160, 216);
	float: right;
	padding-top: 6px;
}

.retrieve-tab {
	width: 980px;
}

.retrieve-line {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgb(187, 187, 187);
}

.retrieve-password {
	width: 420px;
	margin: 0px auto;
}

.retrieve-email, .retrieve-mobile {
	float: left;
	padding: 14px;
	cursor: pointer;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

.retrieve-current {
	border-width: 1px;
	border-style: solid;
	border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(255, 255, 255);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-radius: 6px 6px 0px 0px;
	height: 21px;
}

.password {
	padding-right: 15px;
}

.boston-postcards li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5,
	h6, hr, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
	margin: 0px;
	padding: 0px;
	color: rgb(113, 113, 113);
}

body {
	color: rgb(69, 72, 77);
}

a {
	outline: 0px none;
	color: rgb(0, 161, 214);
}

a:hover {
	color: rgb(243, 92, 143);
	cursor: pointer;
}

button, input, select, textarea {
	font: 12px/1.125 Arial, Helvetica, sans-serif;
}

.form-post i, .table-normal tbody tr td i, i {
	font-style: normal;
}

.left {
	float: left;
}

.right {
	float: right;
}

.code {
	border: 1px solid rgb(206, 209, 216);
	background: rgb(249, 250, 252) none repeat scroll 0% 0%;
	border-radius: 6px;
	padding: 10px;
}

.main-content-list.fav .cb-wrapper::after {
	display: inline-block;
	width: 0px;
	height: 100%;
	content: ".";
	vertical-align: middle;
	overflow: hidden;
}

.clearfix::after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	font-size: 0px;
}

.clearfix {
	
}

.v-middle::after {
	display: inline-block;
	width: 0px;
	height: 100%;
	content: ".";
	vertical-align: middle;
	overflow: hidden;
}

.main-content-list li div.delete a::after {
	display: inline-block;
	width: 0px;
	height: 100%;
	content: ".";
	vertical-align: middle;
	overflow: hidden;
}

.main-content-list-small li div.delete a::after {
	display: inline-block;
	width: 0px;
	height: 100%;
	content: ".";
	vertical-align: middle;
	overflow: hidden;
}

.table-normal tbody tr:nth-child(2n+1) {
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

#odi_list .info-wrapper::after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
	font-size: 0px;
}

.upload-wrapper .fn::after, .upload-wrapper .requesting::after {
	content: ".";
	font-size: 0px;
	height: 0px;
	width: 0px;
	visibility: hidden;
}

.mini-list ul li:nth-of-type(2n) {
	background: rgb(249, 249, 249) none repeat scroll 0% 0%;
	border-radius: 5px;
}

#content button.btn, #content input[type="button"], .messagebox-wrapper button.btn,
	.pm-wrapper button.btn, input[type="submit"] {
	border: medium none;
	padding: 0px;
}

.fix-notice .fix-notice-bg::after {
	display: inline-block;
	width: 0px;
	height: 100%;
	content: ".";
	vertical-align: middle;
	overflow: hidden;
}

.loading-state::after {
	display: block;
	content: "";
	height: 0px;
	clear: both;
	overflow: hidden;
}

@media not all {
	.redactor_toolbar li a {
		background-image: url('undefined');
		background-size: auto 25px;
	}
}

.z_top .z_top_nav {
	margin-left: -10px;
}

.tab-mk2.active::after {
	display: block;
	position: absolute;
}

.face-mp-item[available="1"][have="0"]::after {
	background: rgba(0, 0, 0, 0) url('../img/icons_002.png') repeat scroll
		-263px -71px;
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	top: -1px;
	right: -1px;
}

.face-mp-item.active::after {
	background: rgba(0, 0, 0, 0) url('../img/icons_002.png') repeat scroll
		-263px -7px;
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	top: -1px;
	right: -1px;
}

.form_group::after {
	content: "";
	display: block;
	clear: both;
}
/* ::::: https://static-s.bilibili.com/passport/seajs/plugin/dialog/skins/white.css ::::: */
body {
	
}

.d-button::-moz-focus-inner, .d-button::-moz-focus-outer {
	border: 0px none;
	padding: 0px;
	margin: 0px;
}

@media screen and (min-width: 0px) {
	.d-outer {
		border-radius: 8px;
		box-shadow: 0px 5px 15px rgba(0, 50, 0, 0.4);
		transition: -webkit-box-shadow 0.2s linear 0s;
	}
	.d-state-lock {
		box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.9);
	}
	.d-outer:active {
		box-shadow: 0px 0px 5px rgba(0, 50, 0, 0.1) !important;
	}
	.d-state-drag {
		box-shadow: none !important;
	}
	.d-nw {
		width: 5px;
		height: 31px;
	}
	.d-ne {
		width: 5px;
		height: 31px;
	}
	.d-sw {
		width: 5px;
		height: 5px;
	}
	.d-se {
		width: 5px;
		height: 5px;
	}
}